[build]
  # We still have no build command for the main site
  command = ""
  # We still publish the root directory where index.html is
  publish = "."

[functions]
  # Tell Netlify to look for serverless functions in this directory
  directory = "netlify/functions/"
